<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Deployed with Terraform + Ansible</title>
</head>
<body>
  <h1>Hello DevOps Engineer </h1>
  <p>Provisioned by Terraform, configured by Ansible.</p>
</body>
</html>
