name: Terraform

on:
  pull_request:
    paths:
      - 'terraform/**'
  push:
    branches:
      - main
    paths:
      - 'terraform/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform init
        run: terraform -chdir=terraform init

      - name: Terraform fmt
        run: terraform -chdir=terraform fmt -check

      - name: Terraform validate
        run: terraform -chdir=terraform validate

      - name: Terraform plan
        run: terraform -chdir=terraform plan -out=tfplan
     
      # - name: Terraform apply
      #   run: terraform -chdir=terraform apply -auto-approve 

      - name: Terraform destroy
        run: terraform -chdir=terraform destroy -auto-approve


